<!DOCTYPE html>
<html>
  <head>
    <title>Rock Paper Scissors</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <body>
    <header>
      <h1>Rock Paper Scissors Game</h1>
    </header>
    <div class = "container">
      <form action='/' method = 'post'>
        <div class="row">
          <div class="col-md-6">
            <h3>Player 1</h3>
            <label class="control-label" for="player1">Choose your weapon</label>
            <select class="form-control short width" name="player1">
              <option value="1">Paper</option>
              <option value="2">Scissors</option>
              <option value="3">Rock</option>
            </select>
          </div>
          <div class="col-md-6 text-right">
            <h3>Player 2</h3>
            <label class="control-label" for="player2">Choose your weapon</label>
            <select class="form-control short width player2" name="player2">
              <option value="1">Paper</option>
              <option value="2">Scissors</option>
              <option value="3">Rock</option>
            </select>
          </div>
        </div>
        <button type='submit' class='btn btn-primary'>Go!</button>
      </form>
      <br>

      @if (Model == null) {
        <hr>
      } else if (Model == "Draw") {
        <hr>
        <h2>@Model!</h2>
      } else {
        <hr>
        <h2>@Model wins!</h2>
      }
      <footer>
       <ul>
         <li>Posted by: Eva Antipina</li>
         <li>Contact information: <a href="mailto:example@gmail.com">
        example@gmail.com</a>.</li>
       </ul>
     </footer>
    </div>
  </body>
</html>
